---
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";

---


<section class="py-16">
    <Container className="space-y-10">
        <div class="text-center max-w-3xl mx-auto">
            <Title>
                Empresas que confiam na
                <span class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-20% via-primary via-30% to-green-600">
                    ZENTRY
                </span>
            </Title>
        </div>

        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
            <div class="h-40 rounded-2xl bg-body border border-box-border group overflow-hidden">
                <img
                    src="/images/empresas/arte.png"
                    alt="Arte"
                    class="w-full h-full p-3 object-contain grayscale transition-all duration-300 group-hover:grayscale-0 group-hover:scale-110"
                />
            </div>

            <div class="h-40 rounded-2xl bg-body border border-box-border group overflow-hidden">
                <img
                    src="/images/empresas/dinamica.png"
                    alt="Dinamica"
                    class="w-full h-full p-3 object-contain grayscale transition-all duration-300 group-hover:grayscale-0 group-hover:scale-110"
                />
            </div>

            <div class="h-40 rounded-2xl bg-body border border-box-border group overflow-hidden">
                <img
                    src="/images/empresas/dinamica2.png"
                    alt="Dinamica 2"
                    class="w-full h-full p-3 object-contain grayscale transition-all duration-300 group-hover:grayscale-0 group-hover:scale-110"
                />
            </div>

            <div class="h-40 rounded-2xl bg-body border border-box-border group overflow-hidden">
                <img
                    src="/images/empresas/fernandes.PNG"
                    alt="Fernandes"
                    class="w-full h-full p-3 object-contain grayscale transition-all duration-300 group-hover:grayscale-0 group-hover:scale-110"
                />
            </div>

            <div class="h-40 rounded-2xl bg-body border border-box-border group overflow-hidden">
                <img
                    src="/images/empresas/fosten.png"
                    alt="Fosten"
                    class="w-full h-full p-3 object-contain grayscale transition-all duration-300 group-hover:grayscale-0 group-hover:scale-110"
                />
            </div>

            <div class="h-40 rounded-2xl bg-body border border-box-border group overflow-hidden">
                <img
                    src="/images/empresas/garden.png"
                    alt="Garden"
                    class="w-full h-full p-3 object-contain grayscale transition-all duration-300 group-hover:grayscale-0 group-hover:scale-110"
                />
            </div>

            <div class="h-40 rounded-2xl bg-body border border-box-border group overflow-hidden">
                <img
                    src="/images/empresas/genium.png"
                    alt="Genium"
                    class="w-full h-full p-3 object-contain grayscale transition-all duration-300 group-hover:grayscale-0 group-hover:scale-110"
                />
            </div>
            <div class="h-40 rounded-2xl bg-body border border-box-border group overflow-hidden">
                <img
                    src="/images/empresas/dinamica3.png"
                    alt="dinamica"
                    class="w-full h-full p-3 object-contain grayscale transition-all duration-300 group-hover:grayscale-0 group-hover:scale-110"
                />
            </div>
            <div class="h-40 rounded-2xl bg-body border border-box-border group overflow-hidden">
                <img
                    src="/images/empresas/metropolitana.png"
                    alt="dinamica"
                    class="w-full h-full p-3 object-contain grayscale transition-all duration-300 group-hover:grayscale-0 group-hover:scale-110"
                />
            </div>
        </div>
    </Container>
</section>